

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #171717;
  overflow-x: hidden;
}

.particle-canvas {
  height: calc(100% - 115px) !important;
  position: absolute;
  display: block;
  width: 100%;
}
